html{
	font-family:comic sans ms;
}
.main {
	width:1000px;
	height:1000px;
	margin:50px auto;
	
	min-width:1000px;
	max-width:1000px;

}

.title{
	
	width:600px;
	
	font-size:100px;
	margin: 0px auto;
	position: relative;
	text-align:center;
	

}

.instructions {
	width:600px;
	font-size:30px;
	margin: 0px auto;
	position: relative;
	text-align:center;
	
	

}

.formContainer {
	width:900px;
	height:100px;
	font-size:30px;
	margin: 35px auto;
	position: relative;
	text-align:center;
}

#taskTextBox {
	width:693px;
	height:50px;
	font-size:25px;
	position:relative;
	float:left;
	left:100px;
}

#taskButton {
	height:55px;
	width:50px;
	position:relative;
	right:102px;
	float:right;
}

#task {
	width:500px;
}


.list {
	margin:0px auto;
	position:relative;
	font-size:20px;
	width:800px;
	
	
}

ul, li {
	min-height:10px;
	list-style-type:none;

}

li {
	vertical-align:middle;
	height:35px;
}


#x {
	height:15px;
	width:20px;
	background:url("x.jpeg");
	background-size:100%;
	background-repeat:no-repeat;
	border: none;
	vertical-align:middle;

}

#check {
	height:15px;
	width:20px;
	background:url("check.jpeg");
	background-size:100%;
	background-repeat:no-repeat;
	border: none;
	vertical-align:middle;
	
}